*.class
.DS_Store

# Package Files #
build/**/*.jar
*.war
*.ear
*.iml
*.swp
*.ipr
*.iws
*.log

.classpath
.project
.gradle/
.settings/
*/.dockercfg
model/src/thrift
/build/
.idea/
out/
classes/
.factorypath
**/.bundle/config
**/src/main/resources/**/gems
smoke_tests/vendor
tmp/

.grand-central-build-dependencies-cache/

**/docs/node_modules/
**/docs/public/
**/docs/public/
docs/_site
docs/temp

dist/
